 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/IMG_4335.JPG');
  background-position: 50% 50%;
  background-size: 135%;
}

.u-section-1 .u-sheet-1 {
  min-height: 543px;
}

.u-section-1 .u-group-1 {
  width: 518px;
  min-height: 508px;
  height: auto;
  margin: 18px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-family: "Darker Grotesque";
  font-weight: 800;
  font-size: 4.5rem;
  margin: 20px 30px 0 20px;
}

.u-section-1 .u-form-1 {
  height: 368px;
  margin: 15px auto 0 20px;
}

.u-section-1 .u-label-1 {
  font-family: "Darker Grotesque";
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-family: "Darker Grotesque";
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-family: "Darker Grotesque";
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-family: "Darker Grotesque";
  font-weight: 800;
  font-size: 1.25rem;
  padding: 10px 18px 10px 16px;
}

.u-section-1 .u-list-1 {
  width: 550px;
  margin: -344px 20px 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 179px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-family: "Darker Grotesque";
  font-weight: 800;
  margin: 5px 167px 0 20px;
}

.u-section-1 .u-text-3 {
  font-family: "Darker Grotesque";
  font-weight: 700;
  margin: 0 272px 0 25px;
}

.u-section-1 .u-text-4 {
  font-family: "Darker Grotesque";
  font-size: 1.25rem;
  font-weight: 600;
  margin: -1px 25px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 25px auto 0 0;
  padding: 10px 119px 10px 118px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  margin: -47px 0 0 auto;
  padding: 10px 104px 11px 103px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-group-1 {
    width: 398px;
    min-height: 475px;
    margin-top: 82px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 0;
  }

  .u-section-1 .u-list-1 {
    width: 500px;
    margin-top: -326px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 177px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 105px;
    padding-left: 105px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 92px;
    padding-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-group-1 {
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 4.5rem;
    margin-top: 42px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-form-1 {
    height: 393px;
    margin-top: 17px;
    margin-right: 0;
    margin-bottom: -16px;
  }

  .u-section-1 .u-list-1 {
    width: 341px;
    margin-right: auto;
    margin-bottom: 29px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-group-1 {
    min-height: 505px;
    margin-top: 18px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 44px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 15px;
    margin-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: -411px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 137px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 270px;
    margin-bottom: 4px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 15px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 24px;
    margin-left: 20px;
  }
}