 .u-section-1 {
  background-image: linear-gradient(180deg, black, #700000);
}

.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 111px 0 29px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 590px;
  pointer-events: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 20px 30px 50px;
}

.u-section-1 .u-image-1 {
  height: 682px;
  margin-top: -92px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 620px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  text-align: left;
  font-family: "Darker Grotesque";
  font-weight: 900;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-1 .u-form-1 {
  height: 166px;
  width: 470px;
  margin: 111px auto 0;
}

.u-section-1 .u-label-1 {
  font-family: "Darker Grotesque";
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-family: "Darker Grotesque";
  font-weight: 800;
  padding: 10px 17px 10px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 90px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 486px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-image-1 {
    height: 546px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 511px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-form-1 {
    margin-top: 156px;
    width: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 88px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 551px;
    margin-top: -45px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-form-1 {
    height: 179px;
    width: 300px;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 100px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 576px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-form-1 {
    margin-top: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 22px;
  }

  .u-section-1 .u-image-1 {
    height: 384px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 21px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 551px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-family: "Darker Grotesque";
  font-weight: 800;
  margin: 30px 30px 0 378px;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 309px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  transition-duration: 0.3s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px 3px;
}

.u-section-2 .u-image-1 {
  height: 188px;
  margin: 3px 1px 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 1px;
  font-family: "Darker Grotesque";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  margin: 10px 108px 0 1px;
}

.u-section-2 .u-text-3 {
  font-family: "Darker Grotesque";
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 1px;
}

.u-section-2 .u-list-item-2 {
  transition-duration: 0.3s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 29px 3px;
}

.u-section-2 .u-image-2 {
  height: 188px;
  margin: 3px 1px 0;
}

.u-section-2 .u-text-4 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Darker Grotesque";
  font-weight: 800;
  font-size: 1.5rem;
  margin: 10px 108px 0 1px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-family: "Darker Grotesque";
  font-weight: 700;
  margin: 0 1px;
}

.u-section-2 .u-list-item-3 {
  transition-duration: 0.3s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 29px 3px;
}

.u-section-2 .u-image-3 {
  height: 188px;
  margin: 3px 1px 0;
}

.u-section-2 .u-text-6 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Darker Grotesque";
  font-weight: 800;
  font-size: 1.5rem;
  margin: 10px 108px 0 1px;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-family: "Darker Grotesque";
  font-weight: 700;
  margin: 0 1px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  font-family: "Darker Grotesque";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 30px 31px auto;
  padding: 10px 10px 10px 9px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 208px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 214px;
  }

  .u-section-2 .u-image-1 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 73px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -24px;
    margin-right: 73px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -24px;
    margin-right: 73px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 327px;
    grid-auto-columns: calc(33.3333% - 20px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 788px;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 51px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 51px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-right: 51px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 806px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 162px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: 3px;
    margin-right: 106px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 162px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: 3px;
    margin-right: 106px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 162px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-top: 3px;
    margin-right: 106px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 13px;
    margin-bottom: 13px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/IMG_4335.JPG');
  background-position: 52.2% 57.69%;
  background-size: 140%;
}

.u-section-3 .u-sheet-1 {
  min-height: 529px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-family: "Darker Grotesque";
  font-weight: 800;
  margin: 64px 683px 0 30px;
}

.u-section-3 .u-list-1 {
  width: 587px;
  margin: 31px 0 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 151px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-family: "Darker Grotesque";
  font-weight: 700;
  margin: 9px 20px 0;
}

.u-section-3 .u-text-3 {
  font-family: "Darker Grotesque";
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0 20px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 12px auto 0 0;
  padding: 10px 125px;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  margin: -46px 0 0 auto;
  padding: 10px 115px 11px 114px;
}

.u-section-3 .u-form-1 {
  height: 166px;
  margin: -12px 640px 36px 30px;
}

.u-section-3 .u-label-1 {
  font-family: "Darker Grotesque";
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-family: "Darker Grotesque";
  font-weight: 700;
  font-size: 1.25rem;
  padding: 10px 18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -38px;
    margin-right: 513px;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 178px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-form-1 {
    width: 470px;
    margin-top: 20px;
    margin-right: 470px;
    margin-left: 74px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    background-size: auto 140%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-right: 211px;
    margin-left: 82px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 36px;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 153px;
  }

  .u-section-3 .u-form-1 {
    height: 179px;
    margin: 12px auto 11px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 113px;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 134px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-right: -20px;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 115px;
    padding-left: 115px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -48px;
    padding-right: 101px;
    padding-left: 101px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 33px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 194px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-form-1 {
    margin-top: -199px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}